body {
    background-color: #C8C6AE;
    color: #3D3B23;
    font-size: 150%;
    margin-left: 50px;
}


.main {
    float: left;
} 


img {
    max-width: 40%;
    height: auto;
    border-style: solid;
    border-color: #8A864E
}

.content {
    float: right;
}

.name {
    display: inline-block;
}

.skill {
    float: left;
}